body > header,
.skip-link,
a.anchor {
  display: none;
}

/* Add links after anchors.
 * This is disabled if "print.js" is working.
 * To disable this for local links  add :not([href ^= "/"]) after `a`.
 */
.content:not([print-links]) a[href]:not(.tag, .anchor):after {
  content: " <" attr(href) ">";
}

.copy-button {
  display: none;
}

.tags, .tag-list {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.5em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  font-weight: bold;
}
.tag::before {
  content: "[";
}
.tag::after {
  content: "]";
}

body > footer {
  border-top: 2px solid black;
  padding-block: 1ex;
  margin-inline: 3ch;
}

body > footer .badges {
  display: flex;
  gap: 1ch;
}

.badge {
  width: auto;
  height: 2rem;
}
