@import url("lm-mono/stylesheet.css");
@import url("syntax-theme-light.css") (prefers-color-scheme: light);
@import url("syntax-theme-dark.css") (prefers-color-scheme: dark);

/** <modern-css-reset **/
/* Modern CSS Reset from: https://andy-bell.co.uk/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--nav-fs));
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/** </modern-css-reset> **/

:root {
  color-scheme: light dark;

  --c-bg: white;
  --c-hl0: #225b5f; /* lch(35% 20 205) */
  --c-hl1: #7c3b66; /* lch(35% 35 340) */
  --c-fg: black;

  --system-monospace: ui-monospace, "Cascadia Mono",
                      "Segoe UI Mono", "Ubuntu Mono", 
                      "Roboto Mono", Menlo, 
                      Monaco, Consolas, 
                      monospace;

  --ff-medium: "latin_modern_mono", var(--system-monospace);
  --ff-light: "latin_modern_mono_light", var(--system-monospace);
  --anim-dur0: 200ms;
  --anim-dur1: 500ms;
  --max-width: 90ch;

  --nav-fs: 2rem;

}

@supports (color: lch(35% 20 205)) {
  :root {
    --c-hl0: lch(35% 20 205);
    --c-hl1: lch(35% 35 340);
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --anim-dur0: 0;
    --anim-dur1: 0;
  }

  html:focus-within {
    scroll-behavior: auto;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --c-bg: #161616;
    --c-hl0: #00ddea; /* lch(80% 55 205) approx */
    --c-hl1: #ffade0; /* lch(80% 45 340) approx */
    --c-fg: white;
  }
  @supports (color: lch(80% 55 205)) {
    :root {
      --c-hl0: lch(80% 55 205);
      --c-hl1: lch(80% 45 340);
    }
  }
}

@media screen and (max-width: 450px) {
  :root {
    --nav-fs: 1.5rem;
  }
}

body {
  color: var(--c-fg);
  background-color: var(--c-bg);

  font-family: var(--ff-medium);
  font-size: 1.2rem;

  /* WCAG 2.1 1.4.12 */
  line-height: 1.5;
  --paragraph-space: min(4ex, 25px);
  
  overflow-wrap: break-word;
}

.content p {
  margin-block: var(--paragraph-space);
}

h1[role="banner"] {
  font-size: 3rem;
}

/* disable margins for paragraphs right after a heading */
h1 + p, h2 + p, h3 + p,
h4 + p, h5 + p, h6 + p {
  margin-top: 0;
}

/* and for lists */
h1 + ul, h2 + ul, h3 + ul,
h4 + ul, h5 + ul, h6 + ul,
h1 + ol, h2 + ol, h3 + ol,
h4 + ol, h5 + ol, h6 + ol {
  margin-top: 0;
}

a {
  color: var(--c-hl0);
  text-decoration: none;
}

h1 {
  font-size: 2rem;
}

table {
  border-collapse: collapse;
}

/* aside's are mostly irrelevant for content, make them less prominent */
aside {
  font-family: var(--ff-light);
  font-weight: lighter;
}

table caption {
  border: 1px solid var(--c-fg);
  justify-text: center;
  caption-side: bottom;
}

td {
  padding-inline: 0.5ch;
}

thead, tbody, tfoot {
  border-block: 1px solid var(--c-fg);
}

thead td, tfoot td {
  border-inline: 1px solid var(--c-fg);
}

/* Navigation */
.primary-header {
  position: static;
  top: 0;

  background-color: inherit;
}
.primary-header .nav-list {
  font-size: var(--nav-fs);
}

.primary-header a {
  height: fit-content;
  width: fit-content;
}

.site-icon {
  display: block;
  width: 3ch;
  height: auto;
}
.site-icon .bg {
  fill: var(--c-bg);
}
.site-icon .text {
  fill: var(--c-fg);
}

.flex-breaker {
  margin-left: auto;
}

.primary-header .nav-list {
  padding-inline: 2ch;
}

.primary-header .nav-list > ul {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  gap: 1ch;
  align-items: center;
}

/* Search */
.search-form {
  display: flex;
  height: 2.5rem;
  width: 100%;
  justify-content: center;
}

.search-form input[type="search"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--c-fg);
}

.search-form button {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  background-color: transparent;
  border: none;
}

.search-form button svg * {
  fill: var(--c-fg);
}

.search-results {
  display: none;
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 0;
}

.search-results::before {
  content: "Search Results";
  font-weight: bold;
  font-size: 2rem;
}


.search-results[display-results="true"] {
  display: block;
  border-bottom: 1px solid var(--c-fg);
}

/* Footer */
body > footer {
  border-top: 2px solid var(--c-fg);
  padding-block: 1ex;
  margin-inline: 3ch;
}

body > footer .badges {
  display: flex;
  gap: 1ch;
}

/* Post Content */
/* wrap a's in content with '{}' */
.content a:not(.tag, .anchor)::before { content: "{" }
.content a:not(.tag, .anchor)::after  { content: "}" }

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  padding-block: 0.3em;
}

.content pre {
  max-width: var(--max-width);
  padding-bottom: 1ch;
  padding-top: 0.5ch;
  padding-inline: 2ch;

  overflow-x: auto;
  white-space: pre-wrap;
  tab-size: 4;

  font-family: var(--ff-medium);
}

.content pre[data-lang]::before {
  content: attr(data-lang);
  display: block;

  border-bottom: 1px solid var(--c-fg);
}

.content pre input.copy-button {
  color: var(--c-hl1);
  background-color: transparent;
  border: none;
  cursor: pointer;

  float: right;
}

.content pre code {
  font-family: var(--ff-medium);
}

ul, ol {
  margin-block: 0.5em;
}

ul {
  list-style: "- ";
}

.toc > summary {
  cursor: pointer;
  font-weight: bold;
  list-style: "+ ";
  margin-left: 2ch;
}
.toc[open] > summary {
  list-style: "- ";
}

.toc nav * {
  margin: 0;
}

.tags, .tag-list {
  margin: 0;
  padding: 0;
  gap: 0.5em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.anchor {
  margin-right: 0.5em;
}

/* Section */
.hero {
  font-size: 2rem;
}

.cards .cards-list {
  margin: 0;
  padding: 0;
}

.card {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  height: fit-content;
}

.card .card-description,
.card .tags {
  margin-left: 1rem;
}

.card > a {
  margin: 0;
  display: inline;
}

.card p {
  margin: 0;
}

.cards .tags {
  gap: 0;
}

.card .card-description {
  color: var(--c-fg);
}

/* Generic */
.main-content, #main-content {
  padding-inline: 1ch;
  padding-bottom: 2rem;
  max-width: var(--max-width);
  margin-inline: auto;
}

.tag {
  color: var(--c-hl1);
  font-weight: bold;
}
.tag::before {
  content: "[";
}
.tag::after {
  content: "]";
}

.badge {
  width: auto;
  height: 2rem;
}

.skip-link {
  position: fixed;
  /* this should grab attention */
  background-color: red;
  color: white;
  padding: 1rem;

  left: 50%;
  z-index: 100;

  transform: translateX(-50%) translateY(-110%);
  transition: none;
}

.skip-link:focus {
  transform: translateX(-50%) translateY(0);
  /* give more time to see it */
  transition: transform var(--anim-dur1) linear;
}

/* this does not display but still is
 * visible to screen readers 
 */
.hidden:not(:focus):not(:active) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

